.App {
  text-align: center;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #0c0b0b !important;
  text-align: center;
  background-color: #fff !important;
  border-radius: 0.25rem;
  border: 2px solid rgb(15, 15, 15) !important;
}
